In [ ]:
import torch
import torch as nn
from torch.utils.data import Dataset , DataLoader
import pandas as pd

In [ ]:
df = pd.read_csv("Taxi_fare.csv")

In [ ]:
#Checking whether there is any Null value in the DataFrame
df.isna().sum()

trip_duration         0
distance_traveled     0
num_of_passengers     0
fare                  0
tip                   0
miscellaneous_fees    0
total_fare            0
surge_applied         0
dtype: int64

In [ ]:
#Moving the target col to the Last
target_col = df.pop("total_fare")
df["total_fare"] = target_col

In [ ]:
#Extracting features and Labels from the Dataset
features = df.drop('total_fare', axis=1).values
labels = df['total_fare'].values

#Creating class CustomDataset